<div class="nav-main-div">

  <div id="nav-home-border">
    <a href="/" class="nav-link">
      <div class="nav-button-div" id="nav-home">
        <p>Home</p>
      </div>
    </a>
  </div>

  <div id="nav-about-border">
    <a href="/about" class="nav-link">
      <div class="nav-button-div" id="nav-about">
        <p>About</p>
      </div>
    </a>
  </div>
        
  <div id="nav-services-border">
    <a href="/services" class="nav-link">
      <div class="nav-button-div" id="nav-services">
        <p>Services</p>
      </div>
    </a>
  </div>

  <div id="nav-projects-border">
    <a href="/projects" class="nav-link">
      <div class="nav-button-div" id="nav-projects">
        <p>Projects</p>
      </div>
    </a>
  </div>
        
  <div id="nav-contact-border">
    <a href="/contact" class="nav-link">
      <div class="nav-button-div" id="nav-contact">
        <p>Contact</p>
      </div>
    </a>
  </div>

  <div id="nav-contact-border">
    <a href="/contacts" class="nav-link">
      <div class="nav-button-div" id="nav-contact">
        <p>Contact List</p>
      </div>
    </a>
  </div>
  
  <div id="nav-contact-border">
    <% if(typeof displayName == 'string' && displayName) { %> 
      <a href="/logout" class="nav-link">
        <div class="nav-button-div" id="nav-contact">
          <p>Logout</p>
        </div>
      </a>
    <% } else { %>
      <a href="/login" class="nav-link">
        <div class="nav-button-div" id="nav-contact">
          <p>Login</p>
        </div>
      </a>
    <% } %>

  </div>

  <div id="nav-contact-border">
    <% if(typeof displayName == 'string' && displayName) { %> 
      <p>Logged in as: <%= displayName %></p>
    <% } else { %>
      <p></p>
    <% } %>
  </div>


</div>