<!-- COMP229 Assignment 1 | header_images.ejs | Andreas Themistocles | 301251197 | October 3rd, 2022 -->
<div class="header-image-div">
    <a href="/">
        <img src="assets/images/Logo.png" alt="Logo" class="header-image">
    </a>
</div>